.apartment-property {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 38px;
  border-radius: 5px;
}
.apartment-property .property {
  margin-left: 10px;
  flex-grow: 2;
  display: flex;
  justify-content: flex-start;
}
.apartment-property .property-value {
  flex-basis: 60%;
  display: flex;
  justify-content: flex-start;
}
