.apartment-post-image {
  width: 100%;
}
.apartment-post-image form {
  display: flex;
  flex-direction: column;
}
.apartment-post-image label {
  cursor: pointer;
  width: 18%;
  height: 2rem;
  border-radius: 5px;
  outline: none;
  background-color: #4694dc;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.apartment-post-image .apartment-post-image-custom-button input {
  display: none;
}
.apartment-post-image .apartment-post-image-custom-button {
  display: flex;
  justify-content: center;
}
.apartment-post-image .apartment-post-image-description p,
h4 {
  text-align: left;
}
.apartment-post-image .apartment-post-image-review {
  width: 100%;
  height: 12rem;
  background-color: rgba(0, 0, 0, 0.25);
}
