.list-apartment-post-property {
  width: 100%;
}
.list-apartment-post-property-form-section {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.list-apartment-post-property-form-section-1,
.list-apartment-post-property-form-section-2 {
  flex-basis: 49%;
}
.list-apartment-post-property textarea[name="addressDescription"],
textarea[name="roomDescription"] {
  flex: 1;
  height: 4rem;
}
.list-apartment-post-property textarea[name="square"],
textarea[name="price"] {
  flex-basis: 15%;
  height: 1.5rem;
}
@media screen and (max-width: 600px) {
  .list-apartment-post-property-form-section-2 {
    display: none;
    visibility: hidden;
    clear: both;
  }
  .post-apartment-selection select {
    outline: none;
    flex-basis: 50%;
  }
}
