.list-apartment-post-renter {
  width: 100%;
}
.list-apartment-post-renter .list-apartment-post-renter-form-section {
  width: 49%;
  display: flex;
  flex-direction: column;
}
.list-apartment-post-renter select[name="post-apartment-select-age"],
select[name="post-apartment-select-people"],
select[name="post-apartment-select-gender"] {
  flex-basis: 30%;
}
