.favorite-apartment {
  cursor: pointer;
  height: 100px;
  width: 100%;
  margin: 15px 0px;
}
.favorite-apartment > a {
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.favorite-apartment .favorite-apartment-image {
  height: 100%;
  flex-basis: 15%;
}
.favorite-apartment .favorite-apartment-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.favorite-apartment .favorite-apartment-details {
  height: 100%;
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.favorite-apartment .favorite-apartment-details .favorite-apartment-time {
  opacity: 0.5;
}
.favorite-apartment > img {
  cursor: pointer;
}
