.apartment-management-body .title-list {
  margin-top: 15px;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.apartment-management-body .title-list .title-list-item {
  flex-basis: 20%;
  height: 100%;
  cursor: pointer;
}
.apartment-management-main-body {
  width: 100%;
  display: flex;
  justify-content: center;
}
.apartment-management-body {
  width: 75%;
}
.apartment-management-body .list-posted-apartment .list-posted-apartment-empty {
  width: 100%;
  border-radius: 5px;
  background-color: darkorange;
  height: 2rem;
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.apartment-management-body
  .list-posted-apartment
  .list-posted-apartment-empty
  p {
  text-align: center;
  color: white;
  margin-left: 1rem;
}
@media screen and (max-width: 600px) {
  .apartment-management-body .title-list .title-list-item {
    font-size: 0.7rem;
  }
  .apartment-management-body {
    width: 95%;
  }
}
