.posted-apartment {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 1rem;
}
.posted-apartment-link {
  height: 70%;
  width: 100%;
  color: black;
  text-decoration: none;
  transition: 0.7;
}
.posted-apartment-link:hover {
  background-color: cornsilk;
}
.posted-apartment-property {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.posted-apartment .posted-apartment-main-details {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-basis: 35%;
}
.posted-apartment .posted-apartment-main-info-address {
  text-transform: uppercase;
}
.posted-apartment .posted-apartment-expiration {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  justify-self: stretch;
}
.posted-apartment .posted-apartment-main-details img {
  height: 100%;
  flex-basis: 45%;
}
.posted-apartment .posted-apartment-statistics-type {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.posted-apartment-section {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.posted-apartment-main-details,
.posted-apartment-statistics,
.posted-apartment-more-detail {
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}
#statistic {
  font-weight: bold;
}
.posted-apartment-statistics,
.posted-apartment-more-detail {
  flex-basis: 20%;
}
.posted-apartment-action {
  align-self: flex-end;
}
.posted-apartment-action button {
  border-radius: 5px;

  outline: none;
  border: none;
  height: 2rem;
  width: 6rem;
  cursor: pointer;
  transition: 0.5s;
}
.posted-apartment-action button:hover {
  opacity: 0.7;
}
.posted-apartment-action #rented {
  background-color: #1ccf18;
}
.posted-apartment-action #delete,
#cancel,
#delay-expiration,
#edit {
  background-color: #4694dc;
}
#rented,
#delay-expiration {
  margin-right: 2rem;
}

@media screen and (max-width: 600px) {
  .posted-apartment .posted-apartment-expiration {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    justify-self: stretch;
  }
  .posted-apartment-main-info-price {
    font-size: 0.7rem;
  }

  #rem {
    font-size: 0.7rem;
  }
  .posted-apartment-action {
    display: flex;
    align-self: center;
  }
  #statistic {
    font-size: 0.7rem;
  }
}
