.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
}
/* @media only screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
} */
