.header {
  background-color: #4694dc;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 100;
}
.header a {
  text-decoration: none;
  color: black;
}
#logo div {
  display: inline;
  align-content: center;
  margin-left: 10%;
  /* background: -webkit-linear-gradient(#bb0045, #a76700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
#logo a {
  display: flex;
  align-items: center;
  font-size: 30px;
}
#right-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 5rem;
}
#right-header #signIn,
#signUp {
  cursor: pointer;
}
#right-header #signIn {
  margin-right: 3rem;
}
#right-header a {
  font-size: 16px;
  margin-left: 40px;
}
#logo {
  margin-left: 5%;
}
.noti {
  cursor: pointer;
  flex-basis: 45%;
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.notification-view {
  z-index: 100;
  position: relative;
  flex-basis: 45%;
}
.notification-view h1 {
  align-self: flex-start;
  margin: 0.5rem 0 0.5rem 0.5rem;
  text-align: left;
}
.notification-view .list-noti {
  box-shadow: 0px 5px 12px grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  position: absolute;
  top: 2rem;
  right: 0;
  height: 400px;
}
