.header{
    display: inline-flex;
    align-items: center;
    background-color: #4694DC;
    width: 100%;
    padding: 5px 80px;
}


.link{
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    margin-left: 16px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

a:active{
    color: #000;
}

a:visited{
    color: #000;
}

.link > div{
    margin-left: 15px;
}

#right-header{
    display: inline-flex;
    align-items: center;
    position: absolute;
    right: 80px;
}

.sign{
    font-size: 14px;
    font-weight: 100;
}