.header {
  background-color: #4694dc;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header a {
  text-decoration: none;
  color: black;
}
#logo div {
  display: inline;
  align-content: center;
  margin-left: 50px;
  /* background: -webkit-linear-gradient(#bb0045, #a76700);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
#logo a {
  display: flex;
  align-items: center;
  font-size: 30px;
}
#right-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-right: 5rem;
}
#right-header #signIn,
#signUp {
  cursor: pointer;
}
#right-header #signIn {
  margin-right: 3rem;
}
#right-header a {
  font-size: 16px;
  margin-left: 40px;
}
#logo {
  margin-left: 5rem;
}
.noti {
  margin-right: 5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
