.list-apartments {
  flex-basis: 80%;
  /* display: flex;
  flex-direction: row;
  flex-flow: wrap;
  align-items: center;
  justify-content: flex-start; */
  display: grid;
  grid-template-columns: 32% 32% 32%;
  padding-top: 15px;
  justify-content: space-between;
  align-items: flex-start;
  grid-row-gap: 1rem;
}
