.list-input {
  position: absolute;
  background-color: white;
  width: 30%;
  height: 85%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.signup-details-body {
  width: 100%;
}
form[name="signup-details"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
