.admin-main-body {
  margin-top: 5px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.admin-main-body .admin-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.admin-body .admin-body-list {
  flex-basis: 80%;
}
.admin-body .title-list {
  margin-top: 15px;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.admin-body .admin-content {
  margin-top: 5%;
  margin-left: 15%;
  width: 70%;
  justify-content: flex-start;
  align-items: flex-end;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
}
.admin-body .title-list .title-list-item {
  flex-basis: 20%;
  height: 100%;
  cursor: pointer;
  padding: 5px;
  vertical-align: bottom;
}

.admin-body .title-list .title-list-item .icon-title {
  margin-right: 10px;
  vertical-align: text-top;
}
